.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header>p {
    padding: 5px;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    color: lightgray;
    margin: 4px 120px 4px 120px;
}
.title{
    margin: 4px 110px 4px 110px;
    text-align: center;
    font-size: 2.5rem;
}